@import "compass/css3";

$body-background: #f5efe6;
$color-class-a-plus-plus: #63aa5a;
$color-class-a-plus: #10a74a;
$color-class-a: #a1c512;
$color-class-b: #fddd38;
$color-class-c: #e37a00;
$color-class-d: #c6312e;
$color-class-0: #000000;

/*
body {
  padding: 3em;
  background: $body-background;
}
h2 {
    font: {
      family: 'Trebuchet MS', Arial, sans-serif;
      size: 28px;
    }
    color: #ccc;
}
*/

%qualityClasses {
    position: relative;
    display: block;

    text-align: left;

    height: 18px;
    @include box-sizing('border-box');

    margin: {
        top: 2px;
        bottom: 2px;
    }
    padding-left: 3px;

    line-height: 18px;
    color: #fff;
    font: {
        family: Arial, sans-serif;
        size: 14px;
        weight: 700;
    }

    &::after {
        content:"";

        position:absolute;
        left:100%;

        border:9px solid transparent;
        border-left:9px solid #fbb900;
    }

    & > sup {
        position: absolute;
        top: -3px;
    }
}
/*
.classAplusPlus {
    @extend %qualityClasses;

    width: 30px;

    background-color: $color-class-a-plus-plus;
    border-color: $color-class-a-plus-plus;

    &::after {
        border-left-color: $color-class-a-plus-plus;
    }

}
*/

.classAplus {
    @extend %qualityClasses;

    width: 72px;

    background-color: $color-class-a-plus;
    border-color: $color-class-a-plus;

    &::after {
        border-left-color: $color-class-a-plus;
    }
}

.classA {
    @extend %qualityClasses;

    width: 65px;

    background-color: $color-class-a;
    border-color: $color-class-a;

    &::after {
        border-left-color: $color-class-a;
    }
}

.classB {
    @extend %qualityClasses;

    width: 58px;

    background-color: $color-class-b;
    border-color: $color-class-b;

    &::after {
        border-left-color: $color-class-b;
    }
}

.classC {
    @extend %qualityClasses;

    width: 51px;

    background-color: $color-class-c;
    border-color: $color-class-c;

    &::after {
        border-left-color: $color-class-c;
    }
}

.classD {
    @extend %qualityClasses;

    width: 44px;

    background-color: $color-class-d;
    border-color: $color-class-d;

    &::after {
        border-left-color: $color-class-d;
    }
}

.class0 {
    @extend %qualityClasses;

    width: 37px;

    background-color: $color-class-0;
    border-color: $color-class-0;

    &::after {
        border-left-color: $color-class-0;
    }
}
